* {
    box-sizing: border-box;
}
:root {
    --background: #000000;
    --text: #FFFFFF;    /*text on black backgrounds*/
    --third-color: #FF2C2C;    /*buttons, icons, etc*/
    --secondary-backgrounds: #1A1A1A;  
    --secondary-text: #E0E0E0;    /*secondary text or borders*/
    --light-red: #e96565;
}
body {
    background-color: var(--background);
}
h1, h2, h5, h6, .levelP {
    color: var(--text);
}
p, label {
    color: var(--secondary-text);
}
hr {
    opacity: 0%;
    margin: 50px auto;
    width: 90%;
    
}
/*text fonts*/
h1, .btn, h2, h6, .levelP {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
  }
p, label, .message{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
} 
/*              */

/*header */
h1 {
    font-size: 54px;
}
header {
    width: 95%;
    margin: 20px auto;
}
.header {
    width: 100%;
}
.btn {
    background-color: var(--third-color);
    border-color: var(--secondary-text);
    border-radius: 12px;
    padding: 8px 25px;
    margin: 15px;
}
.btn:hover, .btn:first-child:hover, :not(.btn-check)+.btn:active{
    background-color: var(--secondary-text);
    border-color: var(--third-color);
    color: var(--third-color); 
}
.shoppingCart {
    width: 100%;
}
.cart {
    padding: 8px 15px;
}
/*              */

/*top section*/
.bgDiv {
    width: 100%;
    position: relative;
}
.bgS {
    width: 100%;
    opacity: 20%;
}
.overlay-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
    text-align: center; 
    padding: 10px; 
}
.explore {
    border-radius: 5px;
    padding: 10px 12px;
}
.toP {
    font-size: 28px;
}
/*              */

/*cards*/
.cardH2 {
    margin: 10px 200px;
}
.cards {
    width: 80%;
    margin: auto;
}
.cardss {
    background-color: var(--secondary-backgrounds);
    border-radius: 12px;
    padding: 35px 20px 10px;
}
.cardsDrop {
    opacity: 80%;
    width: 100%;
    height: 40%;
    border-radius: 8px;
}
.cardP {
    font-size: 22px;
    width: 80%;
}
.card {
    color: var(--text);
    margin: 20px auto;
}
/*              */

/*how it works section */
.midH2 {
    margin: 0px 0px 70px;
    text-align: center;
}
.midH5 {
    color: var(--secondary-text);
    font-style: italic;
    font-weight: 700;
    font-size: 28px;
}
.midSection {
    width: 70%;
    margin: auto;
}
.search {
    background-color: var(--secondary-backgrounds);
    padding: 50px;
    width: 60%;
    height: 100%;
}
.midP {
    font-size: 21px;
}
.searchLogo {
    width: 40%;
    align-items: center;
}
.sLogo {
    margin:40px 30px 30px 92px;
    width: 45%;
    padding: 20px;
}
/*              */

/*small section*/
.smallSection {
    text-align: center;
    background-color: var(--third-color);
    border-top: solid 3px var(--secondary-text);
    border-bottom: solid 3px var(--secondary-text);
    padding: 20px;
    
}
h6 {
    margin: 0;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
}
/*              */

/*call to action*/
.CTA {
    width: 87%;
    margin: auto;
    background-color: var(--third-color);
    padding: 50px 50px 0px;
    border-radius: 50px;
    border: solid 4px var(--secondary-text);
}
.level {
    width: 50%;
    padding: 90px 110px;
}
.start {
    width: 50%;
    padding: 15px;
}
.bps {
    width: 90%;
    border-radius: 25px;
    margin: 25px 20px 10px;
}
.levelP{
    font-size: 54px;
}
.levelH2 {
    font-size: 114px;
    text-shadow:
    10px 1px 0 #c00,
    -1px -1px 0 #c00,
    10px -1px 0 #c00,
    -1px 1px 0 #c00,
    0 0 6px #a00;
}
.startN, .talk {
    background-color: var(--background);
    color: var(--secondary-text);
    padding: 10px 40px;
    margin-left: -5px;
}
.carousel-control-next{
    margin-right: 15px; 
}
/*              */

/*footer*/
.footer {
    width: 100.8%;
    background-color: var(--secondary-backgrounds);
}
.links, .rights {
    padding: 48px 20px 20px;
    text-align: center;
}
a {
    margin: 20px;
    text-decoration: none;
    color: var(--secondary-text);
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
a:hover {
    color: var(--third-color);
}
.logoW {
    width: 60%;
    padding: 10px 0px;
    margin-left: 42px;
}
/*              */

/*contact page*/
.contactHead {
    text-align: center;
    margin: 20px 40px;
    padding: 50px 45px;
}
.contactH1{
    font-size: 38px;
}
.form-box{
    display: grid;  
    grid-template-columns: 50%;
    background-color: var(--third-color);
    width: 60%;
    margin: auto;
    border-radius: 45px;
    border: solid 4px var(--secondary-text);
    align-items: center;
    justify-content: center;
}
.form {
    width: 100%;
    margin: auto;
    padding: 45px;
}
input, textarea {
    background-color: var(--secondary-backgrounds);
    width: 100%;
    height: 50px;
    border: solid 2px var(--secondary-text);
    border-radius: 12px;
    color: var(--text);
    padding: 15px;
    font-size: 16px;
}
.message {
    height: 100px;
}
.talk {
    font-size: 16px;
    font-style: italic;
}